Language: Cpp
Standard: Latest
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
MaxEmptyLinesToKeep: 1
LineEnding: LF
RemoveEmptyLinesInUnwrappedLines: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: true
  AtStartOfFile: false
BreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
