*

!.gitignore
!COPYING
!LICENSE
!README.md

!.clang-format
!ruff.toml
!.clangd
!.clang-tidy

!xmake.lua
!init.py
!run.py

!preprocessor
!preprocessor/*

!template
!template/*

!include
!include/.clangd
!include/all.hpp
!include/always.hpp
!include/customize.hpp

!include/macro
!include/macro/*

!include/math
!include/math/*

!include/util
!include/util/*

!include/data_structure
!include/data_structure/**
