*

!.gitignore
!COPYING
!README.md

!.clang-format
!ruff.toml
!.clangd
!.clang-tidy

!xmake.lua
!init.py

!include
!include/.clangd
!include/all.hpp
!include/always.hpp

!include/macro
!include/macro/*

!include/util
!include/util/*

!template
!template/*

!preprocessor
!preprocessor/*
